@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('http://fonts.cdnfonts.com/css/cocogoose');
$light: #f7f7f8;
$primary: #ec5242;
$dark: #272a31;
$secondary: #d3d3d3;